/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* /reset */

/* common */
.flex {
    display: flex;
}
/* /common */

/* container */
.container {
    width: 100%;
    height: 100vh;
    background: rgb(220,219,209);
    background: linear-gradient(0deg, rgba(220,219,209,1) 83%, rgba(0,150,136,1) 17%);
}

/* container content */
.container_content {
    width: 90%;
    height: 90vh;
    margin: auto;
}

/* box */
.box {
    width: 100%;
    height: 100%; /* 95% di container (100vh) */
}

/* BOX SINISTRA */
    .box_sx {
        width: 35%;
        background-color: white;
    }
    /* box sx top */
    .box_sx_top {
        width: 100%;
        background-color: #eaeaea;
    }

    /* box sx top: user */
    .user {
        width: 100%;
        padding: 5px;
        justify-content: space-between;
    }

    .user_info {
        width: 60%;
    }

    .user_foto {
        width: 40px;
        margin: auto 0;
    }

    .user_foto img {
        width: 100%;
        border-radius: 50%;
    }

    .user_name {
        margin: auto 0 auto 10px;
        font-weight: 600;
    }

    .icons {
        margin: auto;
        text-align: center;
    }

    .icons i {
        color: #b1b1b1;
        margin: auto 10px;
    }
    /* /box sx top: user */

    /* box sx top: notification on */
    .notification_on {
        width: 100%;
        padding: 10px ;
        background-color: #8edafc;
    }

    .not_on_icon {
        width: 40px;
        height: 40px; /* quadrato */
        margin: auto 5px auto 10px;
        background-color: white;
        border-radius: 50%;
    }

    .not_on_icon i {
        border-radius: 50%;
        margin: auto;
        color: #8edafc;
    }

    .not_on_text {
        margin: auto 0 auto 5px;
    }

    .not_on_text div:first-child {
        font-weight: 600;
    }

    .not_on_text div:last-child {
        text-decoration: underline;
        padding: 5px 0;
        font-size: smaller;
        color: #4f7485;
    }
    /* /box sx top: notification on */

    /* box sx top: search */
    .search_chat {
        width: 100%;
        padding: 5px;
        background-color: #fafafa;
        color: #b6b9bb;
    }

    .icon_search {
        width: 20%;
        background-color: white;
    }

    .icon_search i {
        margin: auto;
    }

    .search_input {
        width: 80%;
        margin: auto auto auto 0;
    }

    .search_input input {
        width: 100%;
        padding: 9px;
        border: none;
    }
    /* /box sx top: search */
    /* box sx top */

    /* box sx bottom */
    .box_sx_bottom {
        width: 100%;
        height: 75%;
        overflow-y: scroll;
    }

    .chats {
        width: 100%;
        list-style: none;
        flex-direction: column;
        overflow-y: auto;
    }

    .chat {
        width: 100%;
        padding: 5px 0 5px 10px;
        border-bottom: 2px solid #fafafa;
        font-weight: 600;
    }

    .contact_foto {
        width: 60px;
        margin: auto 0;
        padding: 2px;
    }

    .contact_foto img {
        width: 100%;
        border-radius: 50%;
    }

    .name_contact {
        margin: 5px 0 auto 10px;
    }
    /*/ box sx bottom */
/* /BOX SINISTRA */

/* BOX DESTRA */
    .box_dx {
        width: 65%;
        flex-direction: column;
    }

    /* box dx top */
    .box_dx_top {
        width: 100%;
        background-color:#eaeaea;
        border-left: 2px solid #d6d6d6;
    }
    /* box dx top: chat open */
    .chat_open {
        margin-right: auto;
    }

    .chat_open_foto {
        width: 11%;
        margin: auto 10px;
    }

    .chat_open_foto img {
        width: 100%;
        border-radius: 50%;
    }

    .chat_open_info {
        margin: auto 0;
    }

    .chat_open_info div:first-child {
        font-weight: 600;
    }

    .chat_open_info div:last-child {
        padding-top: 2px;
        font-size: small;
        color: #6b7376;
    }

    .box_dx_icons {
        margin: auto 10px;
    }

    .box_dx_icons i {
        margin: auto 7px;
        color: #b1b1b1;
    }
    /* /box dx top: chat open */
    /* /box dx top */

    /* box center */
    .box_dx_center {
        width: 100%;
        height: 100%;
        background-image: url(../img/mine.jpg);
        overflow-y: scroll;
    }
    /* /box center */

    /* box dx bottom */
    .box_dx_bottom {
        width: 100%;
        margin-top: auto;
        background-color: #f3eeea;
        color: #6b7376;
    }

    .emotic_icon {
        width: 8%;
    }

    .emotic_icon i {
        font-size: 20px;
        margin: auto;
    }

    .write_message {
        width: 84%;
    }

    .write_message input {
        width: 100%;
        padding: 15px 5px;
        border: none;
        border-radius: 5px;
    }

    .audio_icon {
        width: 8%;
    }

    .audio_icon i {
        font-size: 20px;
        margin: auto;
    }
    /* /box dx bottom */
/* /BOX DESTRA */






