/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* /reset */

/* common */
.flex {
    display: flex;
}
/* /common */



/* container */
.container {
    width: 100%;
    height: 100vh;
    background: rgb(220,219,209);
    background: linear-gradient(0deg, rgba(220,219,209,1) 83%, rgba(0,150,136,1) 17%);
}

/* container content */
.container_content {
    width: 80%;
    height: 95%;
    margin: auto;
    padding: 2px;
    background-color: lightgrey;
}

/* box */
.box {
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: mediumaquamarine;
}

/* box_sx */
.box_sx {
    width: 35%;
    height: 100%;
    background-color: lightsalmon;
}
/* top */
.box_sx_top {
    width: 100%;
    height: 25%;
    background-color: limegreen;
}

.user {
    width: 100%;
    height: 35%;
    background-color: red;
}

.notification_on {
    width: 100%;
    height: 40%;
    background-color: green;
}

.search_chat {
    width: 100%;
    height: 25%;
    background-color: blue;
}
/* /top */
/* bottom */
.box_sx_bottom {
    width: 100%;
    height: 45%;
    background-color: brown;
}

.chats {
    width: 100%;
    height: 100%;
    list-style: none;
}

.chat {
    width: 100%;
    height: 25%;
    background-color: coral;
    border: 1px solid;
}
/* /bottom */
/* /box_sx */

/* box_dx */
.box_dx {
    width: 65%;
    height: 100%;
    background-color: lightskyblue;
}

.box_dx_top {
    width: 100%;
    height: 9%;
    background-color:darkseagreen;
}

.box_dx_center {
    width: 100%;
    height: 82%;
    background-color: white;
}

.box_dx_bottom {
    width: 100%;
    height: 9%;
    background-color: goldenrod;
}
/* box_dx */





