/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* /reset */

/* common */
.flex {
    display: flex;
}
/* /common */



/* container */
.container {
    width: 100%;
    height: 100vh;
    background: rgb(220,219,209);
    background: linear-gradient(0deg, rgba(220,219,209,1) 83%, rgba(0,150,136,1) 17%);
}

/* container content */
.container_content {
    width: 80%;
    height: 95%;
    margin: auto;
}

/* box */
.box {
    width: 100%;
    height: 100%;
}

/* box_sx */
.box_sx {
    width: 35%;
    height: 100%;
    background-color: white;
}
/* top */
.box_sx_top {
    width: 100%;
    height: 25%;
    background-color: #eaeaea;
}

.user {
    width: 100%;
    height: 35%;
    padding: 5px;
    justify-content: space-between;
}


.user_info {
    width: 60%;
    height: 100%;
}

.user_foto {
    width: 40px;
    height: 90%;
    margin: auto 0;
}

.user_foto img {
    width: 100%;
    border-radius: 50%;
}

.user_name {
    margin: auto 0 auto 10px;
    font-weight: 600;
}

/* .icons_user {
    padding: 2px;
    background-color: green;
} */

.icons {
    height: 100%;
    text-align: center;
}

.icons i {
    color: #b1b1b1;
    margin: auto 10px;
}

.notification_on {
    width: 100%;
    height: 40%;
    background-color: #8edafc;
}

.not_on_icon {
    width: 40px;
    height: 40px;
    margin: auto 5px auto 10px;
    background-color: white;
    border-radius: 50%;
}

.not_on_icon i {
    border-radius: 50%;
    margin: auto;
    color: #8edafc;
}

.not_on_text {
    margin: auto 0 auto 5px;
}

.not_on_text div:first-child {
    font-weight: 600;
}

.not_on_text div:last-child {
    text-decoration: underline;
    padding: 5px 0;
    font-size: smaller;
    color: #4f7485;
}


.search_chat {
    width: 100%;
    height: 25%;
    padding: 5px;
    background-color: #fafafa;
    color: #b6b9bb;
}

.icon_search {
    width: 20%;
    background-color: white;
}

.icon_search i {
    margin: auto;
}

.search_input {
    width: 80%;
    height: 100%;
    margin: auto auto auto 0;
}

.search_input input {
    width: 100%;
    height: 100%;
    border: none;
}

/* /top */
/* bottom */
.box_sx_bottom {
    width: 100%;
    height: 45%;
    /* background-color: brown; */
}

.chats {
    width: 100%;
    height: 100%;
    list-style: none;
}

.chat {
    width: 100%;
    height: 23%;
    padding: 5px 0 5px 10px;
    border-bottom: 2px solid #fafafa;
    font-weight: 600;
}

.contact_foto {
    width: 15%;
    margin: auto 0;
    padding: 2px;
}

.contact_foto img {
    width: 100%;
    border-radius: 50%;
}

.name_contact {
    margin: 5px 0 auto 10px;
}
/* /bottom */
/* /box_sx */

/* box_dx */
.box_dx {
    width: 65%;
    height: 100%;
    background-color: lightskyblue;
}

.box_dx_top {
    width: 100%;
    height: calc(9% - 1px);
    background-color:#eaeaea;
    border-left: 2px solid #d6d6d6;
}

.chat_open {
    margin-right: auto;
}

.chat_open_foto {
    width: 11%;
    margin: auto 10px;
}

.chat_open_foto img {
    width: 100%;
    border-radius: 50%;
}

.chat_open_info {
    margin: auto 0;
}

.chat_open_info div:first-child {
    font-weight: 600;
}

.chat_open_info div:last-child {
    padding-top: 2px;
    font-size: small;
    color: #6b7376;
}

.box_dx_icons {
    margin: auto 10px;
}

.box_dx_icons i {
    margin: auto 7px;
    color: #b1b1b1;
}


.box_dx_center {
    width: 100%;
    height: 82%;
    background-color: brown;
}

.box_dx_bottom {
    width: 100%;
    height: 9%;
    background-color: goldenrod;
}
/* box_dx */





