<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- /fontawesome -->
        <!-- google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
        <!-- google font -->


        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/addClassiJs.css">
        <title>Vue Boolzapp</title>
    </head>
    <body>
        
        <div class="container flex" id="root">
            <div class="container_content">
                <div class="box flex">

                    <div class="box_sx">
                        <div class="user flex">
                            <div class="user_info flex">
                                <div class="user_foto">
                                    <img src="img/avatar_io.jpg" alt="">
                                </div>
                                <div class="user_name">Nome Utente</div>
                            </div>

                            <div class="icons_user flex">
                                <ul class="icons flex">
                                    <i class="fas fa-circle-notch"></i>
                                    <i class="fas fa-comment-alt"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </ul>
                            </div>
                        </div>

                        <div class="notification_on flex">
                            <div class="not_on_icon flex">
                                <i class="fas fa-bell-slash"></i>
                            </div>
                            <div class="not_on_text">
                                <div class="div">Ricevi notifiche di nuovi messaggi</div>
                                <div class="div">Attiva notifica desktop</div>
                            </div>
                        </div>

                        <div class="search_chat flex">
                            <div class="icon_search flex">
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="search_input">
                                <input type="text" name="" id="" placeholder="Cerca o inizia una nuova chat"
                                v-model='searchChat'
                                :onkeyup='questChat()'>
                            </div>
                        </div>
                    
                        <ul class="chats flex">
                            <li class="chat flex" v-for="(contact, index) in contacts" :key="index"
                                :class="indexUser==index ? 'bgc_select_chat' : ''"
                                v-show="contact.visible"
                                @click = "clickUser(index)">
                                <div class="contact_foto">
                                    <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                                </div>
                                <div class="name_contact">{{contact.name}}</div> <!-- {{contacts[index].name}} -->
                            </li>
                        </ul>
                    </div>

                    <div class="box_dx flex">
                        <div class="box_dx_top flex">
                            <div class="chat_open_foto">
                                <img src="img/avatar_1.jpg" alt="">
                            </div>

                            <div class="chat_open_info flex">
                                <div>Michele</div>
                                <div>Online</div>
                            </div>

                            <div class="box_dx_icons flex">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>

                        <div class="box_dx_center">
                            <div class="message_container flex"
                                v-for="(message, index) in contacts[indexUser].messages" :key="index"
                                :class="message.status=='sent' ? 'flex_end' : ''">
                                <div class="message c_flex"
                                    :class="message.status=='sent' ? 'mess_sent' : 'mess_receive'"> 
                                    <p>{{message.message}}</p>
                                    <div class="flex flex_end">{{message.date}}</div> 
                                </div>
                            </div>
                        </div>
                        
                        <div class="box_dx_bottom flex">
                            <div class="emotic_icon flex">
                                <i class="far fa-smile"></i>
                            </div>
                            <div class="write_message flex">
                                <input type="text" name="" id="" placeholder="Scrivi un messaggio"
                                v-model='addMessage'
                                @keyUp.enter='sendMessage(indexUser)'>
                            </div>
                            <div class="audio_icon flex">
                                <i class="fas fa-microphone"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- VueJs -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- /VueJs -->
        <script src="js/main.js"></script>
    </body>
</html>
